// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 3px solid orange;
}

a {
  text-decoration: none;
  color: inherit; // Inherit color from parent
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

button {
  font-family: "Inter";
  font-weight: bold;
  font-size: 18px;
}

input {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
