@use "../../responsive.scss" as *;

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;

  @include smallScreen {
    flex-direction: column;
    height: auto;
  }

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    transition: all 0.5s ease;
    z-index: 1000;

    .arrow {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      cursor: pointer;

      &:hover {
        scale: 1.1;
      }
    }
    .imageContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        cursor: default;
        object-fit: cover;
      }
    }

    .closeFullSlider {
      height: 36px;
      position: absolute;
      right: 0;
      top: 0;
      // margin: 50px 50px;
      padding: 50px;
      font-size: 36px;
      cursor: pointer;

      &:hover {
        color: red;
        // background-color: white;
      }
    }
  }

  // Common Img tag
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }

  .bigImage {
    flex: 3;

    @include smallScreen {
      // flex: none;
      // height: 200px;
    }
  }
  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    @include smallScreen {
      flex-direction: row;
    }

    img {
      // height: 100%;

      @include smallScreen {
        height: 75px;
      }
    }
  }
}
